<!DOCTYPE html><html><head><title>Watch</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">Watch</h1><small>檔名：<code>composition_watch.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->


<!-- 監聽純值 -->
<h2>監聽純值</h2>
<div id="app1">
	<div class="box">
		<p><input type="text" v-model="productName"></p>
		<p>{{ watchValue }}</p>
	</div>
</div>

<hr>


<!-- 監聽物件 -->
<h2>監聽物件</h2>

<div id="app2">
	
	<!-- Ref -->
	<h3>Ref</h3>
	
	<div class="box">
		<label class="d-block mb-3">
			refProduct.name：<input type="text" v-model="refProduct.name">
		</label>
		
		<label class="d-block mb-3">
			refProduct.other.name：<input type="text" v-model="refProduct.other.name">
		</label>
		
		<p>{{ watchRefObj }}</p>
	</div>
	
	<!-- Reactive -->
	<h3>Reactive</h3>
	
	<div class="box">
		<label class="d-block mb-3">
			reactiveProduct.name：<input type="text" v-model="reactiveProduct.name">
		</label>
		
		<label class="d-block mb-3">
			reactiveProduct.other.name：<input type="text" v-model="reactiveProduct.other.name">
		</label>
		
		<p>{{ watchReactiveObj }}</p>
	</div>
	
</div>

<hr>


<!-- 多值監聽 -->
<h2>多值監聽</h2>

<div id="app3">
	
	<!-- 純值 -->
	<h3>純值</h3>
	
	<div class="box">
		<label>
			productName：<input type="text" v-model="productName"></label>
	</div>
	
	<!-- Ref -->
	<h3>Ref</h3>
	
	<div class="box">
		<label class="d-block mb-3">
			refProduct.name：<input type="text" v-model="refProduct.name">
		</label>
		
		<label class="d-block mb-3">
			refProduct.other.name：<input type="text" v-model="refProduct.other.name">
		</label>
	</div>
	
	<!-- Reactive -->
	<h3>Reactive</h3>
	
	<div class="box">
		<label class="d-block mb-3">
			reactiveProduct.name：<input type="text" v-model="reactiveProduct.name">
		</label>
		
		<label class="d-block mb-3">
			reactiveProduct.other.name：<input type="text" v-model="reactiveProduct.other.name">
		</label>
	</div>
	
</div>



<script type="module">

const { createApp, ref, reactive, watch } = Vue;

// 執行 watch 共用邏輯
const executeWatch = (newVal, oldVal) => {
	console.log(``);
	console.log(`[watch]`);
	console.log(`newVal ==>`, newVal);
	console.log(`oldVal ==>`, oldVal);
	
	return `輸入的文字有 ${newVal.length} 個字，上一次有 ${oldVal.length} 個字。`;
};


/* 監聽純值 */
const app1 = createApp({
	setup() {
		
		const watchValue = ref('');
		const productName = ref('蛋餅');
		
		watch(
			productName, 
			(newVal, oldVal) => {
				watchValue.value = executeWatch(newVal, oldVal);
			},
			// { immediate: true },
		);
		
		return {
			productName,
			watchValue,
		}
	},
});
app1.mount('#app1');


/* 監聽物件 */
const app2 = createApp({
	setup() {
		
		/* Ref 物件 */
		const watchRefObj = ref('');
		
		const refProduct = ref({
			name: '蛋餅',
			price: 30,
			vegan: false,
			other: {
				name: '送安檢'
			}
		});
		console.log(refProduct);
		
		// 監聽純值 refProduct.name
		watch(
			// refProduct.value.name,	// 會發生 Invalid watch source 警告
			() => refProduct.value.name,	// 必須使用返回此屬性的 getter 函式
			(newVal, oldVal) => {
				watchRefObj.value = executeWatch(newVal, oldVal);
			},
		);
		
		// 監聽純值 refProduct.other.name
		watch(
			() => refProduct.value.other.name,
			(newVal, oldVal) => {
				watchRefObj.value = executeWatch(newVal, oldVal);
			},
		);
		
		// 監聽物件 refProduct.other
		watch(
			refProduct.value.other,	// 從 .value 中取出物件
			(newVal, oldVal) => {
				console.log(``);
				console.log(`[watch] refProduct.value.other ...`);
				console.log(newVal, oldVal);
				console.log(`newVal === oldVal ==>`, newVal === oldVal);
			},
		);
		
		// 監聽物件 refProduct
		watch(
			// refProduct.value,	// 從 .value 中取出物件
			refProduct,	// 直接監聽整個 RefImpl 物件，需搭配深層監聽參數 (deep: true)
			(newVal, oldVal) => {
				console.log(``);
				console.log(`[watch] refProduct ...`);
				console.log(newVal, oldVal);
				console.log(`newVal === oldVal ==>`, newVal === oldVal);
				console.log(newVal.name, newVal.other.name);
			},
			{ deep: true }	// 深層監聽參數
		);
		
		
		/* Reactive 物件 */
		const watchReactiveObj = ref('');
		
		const reactiveProduct = reactive({
			name: '蛋餅',
			price: 30,
			vegan: false,
			other: {
				name: '送安檢'
			}
		});
		
		// 監聽純值 reactiveProduct.name
		watch(
			// reactiveProduct.name,	// 會發生 Invalid watch source 警告
			() => reactiveProduct.name,	// 必須使用返回此屬性的 getter 函式
			(newVal, oldVal) => {
				watchReactiveObj.value = executeWatch(newVal, oldVal);
			},
		);
		
		// 監聽純值 reactiveProduct.other.name
		watch(
			() => reactiveProduct.other.name,
			(newVal, oldVal) => {
				watchReactiveObj.value = executeWatch(newVal, oldVal);
			},
		);
		
		// 監聽物件 reactiveProduct.other
		watch(
			reactiveProduct.other,
			(newVal, oldVal) => {
				console.log(``);
				console.log(`[watch] reactiveProduct.other ...`);
				console.log(newVal, oldVal);
				console.log(`newVal === oldVal ==>`, newVal === oldVal);
			},
		);
		
		// 監聽物件 reactiveProduct
		watch(
			reactiveProduct,
			(newVal, oldVal) => {
				console.log(``);
				console.log(`[watch] reactiveProduct ...`);
				console.log(newVal, oldVal);
				console.log(`newVal === oldVal ==>`, newVal === oldVal);
				console.log(newVal.name, newVal.other.name);
			},
		);
		

		return {
			refProduct, reactiveProduct,
			watchRefObj, watchReactiveObj,
		}
	},
});
app2.mount('#app2');


/* 多值監聽 */
const app3 = createApp({
	setup () {
		
		// 純值
		const productName = ref('蛋餅');
		
		// Ref 物件
		const refProduct = ref({
			name: '蛋餅',
			price: 30,
			vegan: false,
			other: {
				name: '送安檢'
			}
		});
		
		// Reactive 物件
		const reactiveProduct = reactive({
			name: '蛋餅',
			price: 30,
			vegan: false,
			other: {
				name: '送安檢'
			}
		});
		
		
		// 監聽多個值
		watch(
			// 由於 refProduct 為 Ref 綁定的物件，因此要使用 .value 才能監聽
			// [productName, refProduct.value, reactiveProduct],
			
			// 若 refProduct 不使用 .value，就要設定深層監聽模式 (deep: true)
			[productName, refProduct, reactiveProduct],
			
			([newProductName, newRefProduct, newReactiveProduct], [oldProductName, oldRefProduct, oldReactiveProduct]) => {
				console.log(``);
				console.log(`[watch]`);
				
				console.log(`productName ==>`, newProductName, oldProductName);
				
				console.log(`refProduct ==>`, newRefProduct);
				console.log(newRefProduct.name, newRefProduct.other.name);
				
				console.log(`reactiveProduct ==>`, newReactiveProduct);
				console.log(newReactiveProduct.name, newReactiveProduct.other.name);
			},
			{ deep: true }	// 深層監聽
		);
		
		
		return {
			productName,
			refProduct,
			reactiveProduct,
		};
	},
});
app3.mount("#app3");

</script>


<!-- 🙇🙇練習結束🙇🙇 -->
</main>
  
    <aside
      class="col-md-3"><div class="sticky-top" style="top: 76px">
  <div class="list-group">
  
    <a href="/composition/proxy.html"
      class="list-group-item list-group-item-action
        
        ">
      Proxy
    </a>
  
    <a href="/composition/setup.html"
      class="list-group-item list-group-item-action
        
        ">
      Setup 起手式
    </a>
  
    <a href="/composition/reactive.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive
    </a>
  
    <a href="/composition/ref.html"
      class="list-group-item list-group-item-action
        
        ">
      Ref
    </a>
  
    <a href="/composition/reactive_ref.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive 與 Ref
    </a>
  
    <a href="/composition/composition_methods.html"
      class="list-group-item list-group-item-action
        
        ">
      Composition 與 Methods
    </a>
  
    <a href="/composition/composition_and_options.html"
      class="list-group-item list-group-item-action
        
        ">
      Options API 中...
    </a>
  
    <a href="/composition/props.html"
      class="list-group-item list-group-item-action
        
        ">
      Props
    </a>
  
    <a href="/composition/context.html"
      class="list-group-item list-group-item-action
        
        ">
      Context
    </a>
  
    <a href="/composition/dom_refs.html"
      class="list-group-item list-group-item-action
        
        ">
      $Refs
    </a>
  
    <a href="/composition/composition_provide.html"
      class="list-group-item list-group-item-action
        
        ">
      Provide 與 Inject
    </a>
  
    <a href="/composition/composition_watch.html"
      class="list-group-item list-group-item-action
        
        active">
      Watch
    </a>
  
    <a href="/composition/composition_watchEffect.html"
      class="list-group-item list-group-item-action
        
        ">
      Watch Effect
    </a>
  
    <a href="/composition/composition_kata.html"
      class="list-group-item list-group-item-action
        
        ">
      KATA 練習
    </a>
  
  </div>
  <div class="mt-3 text-end p-2 bg-light rounded">
    <small class="text-black-50 fw-light mb-0">文件版本：2022/11/1</small>
  </div>
</div>

</aside>
    
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/es6/shorthand.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/intro/createApp.html">認識 Vue.js</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/template/v-text.html">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/optionsApi/options-methods.html">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/components/component_register.html">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/advApi/adv-refs.html">進階</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/router/vue-router.html">路由</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/composition/proxy.html">Composition API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pinia/layout.html">Pinia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Vue 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
