<!DOCTYPE html><html><head><title>沒有使用 Reactive 或 Ref</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">沒有使用 Reactive 或 Ref</h1><small>檔名：<code>noReactiveRef.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->

<!-- 純值 -->
<h2>純值</h2>

<div id="valueApp">
	
	<!-- 沒有使用 reactive 或 ref -->
	<h3 class="text-primary">沒有使用</h3>
	<p>即使內容改變了也無法重新渲染畫面。</p>
	
	<!-- 沒有綁 v-model -->
	<p class="title">沒有綁 v-model</p>
	<div class="box mt-1">
		<p>{{ name }}</p>
	</div>
	
	<!-- 有綁 v-model -->
	<p class="title">有綁 v-model</p>
	<p>會產生奇怪的現象...</p>
	
	<ul>
		<li>v-model 修改的值，不會自動渲染到畫面上，只有在渲染機制被觸發時才會跟著重新渲染。</li>
		<li>v-model 修改的值，不會設定到資料裡，即使在畫面上看到改變了，實際的資料依然沒變；而實際資料的改變也無法反應到畫面上（即使觸發了渲染機制）。<br>也就是說，畫面與資料是脫勾的狀態。</li>
	</ul>
	
	<div class="box mt-1">
		<p>{{ name2 }}</p>
		<input type="text" v-model="name2">
	</div>
	
	<input type="button" value="改變名字" @click="changeName">&nbsp;&nbsp;
	<input type="button" value="顯示名字" @click="showName">&nbsp;&nbsp;
	
	
	<!-- 使用 ref 觸發渲染 -->
	<h3 class="mt-5 text-primary">使用 ref 觸發渲染</h3>
	<p>操作累加以觸發渲染。</p>
	<p></p>
	
	<div class="box mt-1">
		<input type="button" value="累加" @click="addRefNum">&nbsp;&nbsp;
		{{ refNum }}
	</div>
	
</div>

<hr>

<!-- 物件 -->
<h2>物件</h2>

<div id="objectApp" class="mt-4">
	
	<!-- 沒有使用 reactive 或 ref -->
	<h3 class="text-primary">沒有使用</h3>
	<p>會更新資料，但無法自動重新渲染，需等到渲染機制被觸發時才會更新畫面。</p>
	
	<p>
		不管是直接使用程式改變名字，或是使用 v-model 改變名字，都不會即時重新渲染畫面。<br>
		需要操作下方有使用 reactive 或 ref 綁定的範例，觸發了渲染機制，這邊的畫面才會跟著改變。
	</p>
	
	<div class="box">
		<p>{{ person }}</p>
		
		<div class="mb-4">
			<label class="d-block mb-3">
				自己的名字：<input type="text" v-model="person.name">
			</label>
			<label class="d-block">
				父親的名字：<input type="text" v-model="person.father.name">
			</label>
		</div>
		
		<div class="flex-btn-group">
			<input type="button" value="改變自己的名字" @click="changeName">
			<input type="button" value="改變父親的名字" @click="changeFatherName">
			<input type="button" value="顯示物件內容" @click="showPerson">
			<button type="button" @click="changePerson">改變人 (會造成畫面與實際資料脫離綁定，請觀察畫面與 console)</button>
		</div>
	</div>
	
	
	<!-- 使用 ref 觸發渲染 -->
	<h3 class="mt-5 text-primary">使用 ref 觸發渲染</h3>
	<p>操作累加以觸發渲染。</p>
	<p></p>
	
	<div class="box mt-1">
		<input type="button" value="累加" @click="addRefNum">&nbsp;&nbsp;
		{{ refNum }}
	</div>
	
</div>

<hr>

<!-- 陣列 -->
<h2>陣列</h2>

<div id="aryApp">
	
	<!-- 沒有使用 reactive 或 ref -->
	<h3 class="text-primary">沒有使用</h3>
	
	<p>其特性與物件相同，會更新資料，但無法自動重新渲染，需等到渲染機制被觸發時才會更新畫面。</p>
	
	<div class="box mt-0">
		<p>{{ ary }}</p>
		
		<div class="flex-btn-group">
			<input type="button" value="Push" @click="push">
			<input type="button" value="顯示陣列內容" @click="showAry">
			<button type="button" @click="reset">Reset (會造成畫面與實際資料脫離綁定，請觀察畫面與 console)</button>
		</div>
	</div>
	
	
	<!-- 使用 ref 觸發渲染 -->
	<h3 class="mt-5 text-primary">使用 ref 觸發渲染</h3>
	<p>操作累加以觸發渲染。</p>
	<p></p>
	
	<div class="box mt-1">
		<input type="button" value="累加" @click="addRefNum">&nbsp;&nbsp;
		{{ refNum }}
	</div>
	
</div>


<script src="./common.js"></script>

<script type="module">

const { createApp, ref } = Vue;


/* 測試純值 */
const valueApp = createApp({
	setup() {
		
		console.log(``);
		console.log(`********** 測試純值 **********`);
		
		/* 沒有使用 reactive 或 ref */
		let name = getName1();
		console.log(`name ==>`, name);
		
		// 綁 v-model
		let name2 = getName1();
		console.log(`name2 ==>`, name2);
		
		// 顯示名字
		const showName = () => {
			console.log(`name ==>`, name);
			console.log(`name2 ==>`, name2);
		};
		
		// 改變名字
		const changeName = createChangeProcessor(
			// funcRestore
			() => {
				name = getName1();
				name2 = getName1();
			},
			
			// funcChange
			() => {
				name = '國父誠';
				name2 = '劉的滑';
			},
			
			// funcLog
			showName
		);
		
		
		/* ref 累加 */
		const refNum = ref(0);
		
		function addRefNum() {
			refNum.value ++;
		}
		
		
		return {
			name, name2,
			changeName, showName,
			refNum, addRefNum,
		}
	},
});
valueApp.mount('#valueApp');


/* 測試物件 */
const objectApp = createApp({
	setup () {
		
		console.log(`********** 測試物件 **********`);
		
		/* 沒有使用 reactive 或 ref */
		let person = getObj1();
		console.log(`person ==>`, person);
		
		// 改變自己的名字
		const changeName = createChangeProcessor(
			// funcRestore
			() => {
				person.name = getName1();
			},
			
			// funcChange
			() => {
				person.name = getName2();
			},
			
			// funcLog
			() => {
				console.log(`My name ==>`, person.name);
			}
		);
		
		// 改變父親的名字
		const changeFatherName = createChangeProcessor(
			// funcRestore
			() => {
				person.father.name = getFatherName1();
			},
			
			// funcChange
			() => {
				person.father.name = getFatherName2();
			},
			
			// funcLog
			() => {
				console.log(`Father's name ==>`, person.father.name);
			}
		);
		
		// 改變整個物件
		const changePerson = createChangeProcessor(
			// funcRestore
			() => {
				person = getObj1();
			},
			
			// funcChange
			() => {
				person = getObj2();
			},
			
			// funcLog
			() => {
				console.log(`person ==>`, person);
			}
		);
		
		// 顯示物件內容
		const showPerson = () => {
			console.log(``);
			console.log(`person ==>`, person);
		};
		
		console.log(``);
		
		
		/* ref 累加 */
		const refNum = ref(0);
		
		function addRefNum() {
			refNum.value ++;
		}
		
		
		return {
			person,
			changeName,
			changeFatherName,
			changePerson,
			showPerson,
			refNum, addRefNum,
		};
		
	}
});
objectApp.mount('#objectApp');


function createPushAry(ary)
{
	let cnt = 1;
	
	function pushAry() {
		ary.push(`項目${cnt}`);
		cnt ++;
		console.log(`ary ==>`, ary);
	}
	
	return pushAry;
}


/* 測試陣列 */
const aryApp = createApp({
	setup () {
		
		console.log(``);
		console.log(`********** 測試陣列 **********`);
		
		/* 沒有使用 reactive 或 ref */
		let ary = getAry1();
		console.log(`ary ==>`, ary);
		
		const aryProcessor = createArrayProcessor(
			// funcPush
			(item) => {
				ary.push(item);
			},
			
			// funcReset
			() => {
				ary = getAry1();
			},
			
			// funcLog
			() => {
				console.log(`ary ==>`, ary);
			}
		);
		
		// Push 陣列
		const { push } = aryProcessor;
		
		// Reset 陣列
		const { reset } = aryProcessor;
		
		// 顯示陣列內容
		const { show: showAry } = aryProcessor;
		
		
		/* ref 累加 */
		const refNum = ref(0);
		
		function addRefNum() {
			refNum.value ++;
		}
		
		
		return {
			ary,
			push,
			reset,
			showAry,
			refNum, addRefNum,
		};
	}
});
aryApp.mount("#aryApp");

</script>


<!-- 🙇🙇練習結束🙇🙇 -->
</main>
  
    <aside
      class="col-md-3"><div class="sticky-top" style="top: 76px">
  <div class="list-group">
  
    <a href="/composition/proxy.html"
      class="list-group-item list-group-item-action
        
        ">
      Proxy
    </a>
  
    <a href="/composition/setup.html"
      class="list-group-item list-group-item-action
        
        ">
      Setup 起手式
    </a>
  
    <a href="/composition/reactive.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive
    </a>
  
    <a href="/composition/ref.html"
      class="list-group-item list-group-item-action
        
        ">
      Ref
    </a>
	
	<a href="/composition/noReactiveRef.html"
      class="list-group-item list-group-item-action
	  	active">
      沒有使用 Reactive 或 Ref
    </a>
	
    <a href="/composition/reactive_ref.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive 與 Ref
    </a>
  
    <a href="/composition/composition_methods.html"
      class="list-group-item list-group-item-action
        
        ">
      Composition 與 Methods
    </a>
  
    <a href="/composition/composition_and_options.html"
      class="list-group-item list-group-item-action
        
        ">
      Options API 中...
    </a>
  
    <a href="/composition/props.html"
      class="list-group-item list-group-item-action
        
        ">
      Props
    </a>
  
    <a href="/composition/context.html"
      class="list-group-item list-group-item-action
        
        ">
      Context
    </a>
  
    <a href="/composition/dom_refs.html"
      class="list-group-item list-group-item-action
        
        ">
      $Refs
    </a>
  
    <a href="/composition/composition_provide.html"
      class="list-group-item list-group-item-action
        
        ">
      Provide 與 Inject
    </a>
  
    <a href="/composition/composition_watch.html"
      class="list-group-item list-group-item-action
        
        ">
      Watch
    </a>
  
    <a href="/composition/composition_watchEffect.html"
      class="list-group-item list-group-item-action
        
        ">
      Watch Effect
    </a>
  
    <a href="/composition/composition_kata.html"
      class="list-group-item list-group-item-action
        
        ">
      KATA 練習
    </a>
  
  </div>
  <div class="mt-3 text-end p-2 bg-light rounded">
    <small class="text-black-50 fw-light mb-0">文件版本：2022/11/1</small>
  </div>
</div>

</aside>
    
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/es6/shorthand.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/intro/createApp.html">認識 Vue.js</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/template/v-text.html">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/optionsApi/options-methods.html">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/components/component_register.html">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/advApi/adv-refs.html">進階</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/router/vue-router.html">路由</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/composition/proxy.html">Composition API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pinia/layout.html">Pinia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Vue 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
