<!DOCTYPE html><html><head><title>ref</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">ref</h1><small>檔名：<code>ref.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->

<ul>
	<li>可以即時重新渲染畫面、可做雙向綁定（v-model）。</li>
	<li>可以綁定純值、物件、陣列。</li>
	<li>會被包成 RefImpl 物件。</li>
	<li>使用時，必須透過 .value 存取值。</li>
	<li>可以用 .value 替換整個物件。</li>
</ul>

<h2 class="mt-5">純值</h2>

<div id="valueApp">
	
	<div class="box mt-3">
		
		<p>{{ name }}</p>
		
		<label class="d-block mb-3">
			名字：<input type="text" v-model="name">
		</label>
		
		<input type="button" value="改變名字" @click="changeName">&nbsp;&nbsp;
		<input type="button" value="顯示名字" @click="showName">&nbsp;&nbsp;
		
	</div>
	
	
	<div class="box mt-1">
		<p class="title">累加器</p>
		<input type="button" value="+1" @click="addNum">&nbsp;&nbsp;
		<input type="button" value="Reset" @click="resetNum">&nbsp;&nbsp;
		{{ num }}&nbsp;&nbsp;
	</div>
	
</div>

<hr>
	
<h2>物件</h2>

<div id="objApp">
	
	<div class="box mt-1">
		<p>{{ person }}</p>
		
		<div class="mb-4">
			<label class="d-block mb-3">
				自己的名字：<input type="text" v-model="person.name">
			</label>
			<label class="d-block">
				父親的名字：<input type="text" v-model="person.father.name">
			</label>
		</div>
		
		<input type="button" value="改變自己的名字" @click="changeName">&nbsp;&nbsp;
		<input type="button" value="改變父親的名字" @click="changeFatherName">&nbsp;&nbsp;
		<input type="button" value="改變人" @click="changePerson">&nbsp;&nbsp;
		<input type="button" value="顯示" @click="showPerson">&nbsp;&nbsp;
	</div>
	
</div>

<hr>

<h2>陣列</h2>

<div id="aryApp">
	
	<div class="box mt-0">
		<p>{{ ary }}</p>
		
		<div class="flex-btn-group">
			<input type="button" value="Push" @click="push">
			<input type="button" value="顯示陣列內容" @click="showAry">
			<button type="button" @click="reset">Reset</button>
		</div>
	</div>
	
</div>


<script src="./common.js"></script>

<script type="module">
	
const { createApp, ref } = Vue;


/* 測試純值 */
const valueApp = createApp({
	setup() {
		
		console.log(``);
		console.log(`********** 測試純值 **********`);
		
		/* 名字 */
		const name = ref(getName1());
		console.log(`name ==>`, name);
		
		// 改變名字
		const changeName = createChangeProcessor(
			// funcRestore
			() => {
				name.value = getName1();
			},
			
			// funcChange
			() => {
				name.value = getName2();
			},
			
			// funcLog
			() => {
				console.log(`name ==>`, name.value);
			}
		);
		
		// 顯示名字
		const showName = () => {
			console.log(``);
			console.log(`name ==>`, name);
		};
		
		
		/* 累加 */
		const num = ref(0);
		console.log(`num ==>`, num);
		
		const showNum = () => {
			console.log(``);
			console.log(`num ==>`, num);
		};
		
		// 累加
		function addNum() {
			num.value ++;
			showNum();
		}
		
		// 歸零
		function resetNum() {
			num.value = 0;
			showNum();
		}
		
		
		return {
			// 名字
			name,
			changeName,
			showName,
			
			// 累加
			num,
			addNum,
			resetNum,
		};
	},
});
valueApp.mount('#valueApp');


/* 測試物件 */
const objApp = createApp({
	setup() {
		
		console.log(``);
		console.log(`********** 測試物件 **********`);
		
		const person = ref(getObj1());
		console.log(`person ==>`, person);
		
		const showPerson = function () {
			console.log(``);
			console.log(`person ==>`, person);
		};
		
		// 改變自己的名字
		const changeName = createChangeProcessor(
			// funcRestore
			function () {
				person.value.name = getName1();
			},
			
			// funcChange
			function () {
				person.value.name = getName2();
			},
			
			// funcLog
			function () {
				console.log(`My name ==>`, person.value.name);
			}
		);
		
		// 改變父親的名字
		const changeFatherName = createChangeProcessor(
			// funcRestore
			function () {
				person.value.father.name = getFatherName1();
			},
			
			// funcChange
			function () {
				person.value.father.name = getFatherName2();
			},
			
			// funcLog
			function () {
				console.log(`Father's name ==>`, person.value.father.name);
			}
		);
		
		// 改變整個物件
		const changePerson = createChangeProcessor(
			// funcRestore
			function () {
				person.value = getObj1();
			},
			
			// funcChange
			function () {
				person.value = getObj2();
			},
			
			// funcLog
			function () {
				console.log(`person ==>`, person);
			}
		);
		
		
		return {
			person,
			showPerson,
			changeName,
			changeFatherName,
			changePerson,
		};
	}
});
objApp.mount("#objApp");


/* 測試陣列 */
const aryApp = createApp({
	setup () {
		
		console.log(``);
		console.log(`********** 測試陣列 **********`);
		
		console.log(getAry1());
		let ary = ref(getAry1());
		console.log(`ary ==>`, ary);
		
		const aryProcessor = createArrayProcessor(
			// funcPush
			(item) => {
				ary.value.push(item);
			},
			
			// funcReset
			() => {
				ary.value = getAry1();
			},
			
			// funcLog
			() => {
				console.log(`ary ==>`, ary);
			}
		);
		
		// Push 陣列
		const { push } = aryProcessor;
		
		// Reset 陣列
		const { reset } = aryProcessor;
		
		// 顯示陣列內容
		const { show: showAry } = aryProcessor;
		
		
		return {
			ary,
			push,
			reset,
			showAry,
		};
	}
});
aryApp.mount("#aryApp");

</script>


<!-- 🙇🙇練習結束🙇🙇 -->
</main>
  
    <aside
      class="col-md-3"><div class="sticky-top" style="top: 76px">
  <div class="list-group">
  
    <a href="/composition/proxy.html"
      class="list-group-item list-group-item-action
        
        ">
      Proxy
    </a>
  
    <a href="/composition/setup.html"
      class="list-group-item list-group-item-action
        
        ">
      Setup 起手式
    </a>
  
    <a href="/composition/reactive.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive
    </a>
  
    <a href="/composition/ref.html"
      class="list-group-item list-group-item-action
        
        active">
      Ref
    </a>
	
    <a href="/composition/noReactiveRef.html"
      class="list-group-item list-group-item-action
        ">
      沒有使用 Reactive 或 Ref
    </a>
  
    <a href="/composition/reactive_ref.html"
      class="list-group-item list-group-item-action
        
        ">
      Reactive 與 Ref
    </a>
  
    <a href="/composition/composition_methods.html"
      class="list-group-item list-group-item-action
        
        ">
      Composition 與 Methods
    </a>
  
    <a href="/composition/composition_and_options.html"
      class="list-group-item list-group-item-action
        
        ">
      Options API 中...
    </a>
  
    <a href="/composition/props.html"
      class="list-group-item list-group-item-action
        
        ">
      Props
    </a>
  
    <a href="/composition/context.html"
      class="list-group-item list-group-item-action
        
        ">
      Context
    </a>
  
    <a href="/composition/dom_refs.html"
      class="list-group-item list-group-item-action
        
        ">
      $Refs
    </a>
  
    <a href="/composition/composition_provide.html"
      class="list-group-item list-group-item-action
        
        ">
      Provide 與 Inject
    </a>
  
    <a href="/composition/composition_watch.html"
      class="list-group-item list-group-item-action
        
        ">
      Watch
    </a>
  
    <a href="/composition/composition_watchEffect.html"
      class="list-group-item list-group-item-action
        
        ">
      Watch Effect
    </a>
  
    <a href="/composition/composition_kata.html"
      class="list-group-item list-group-item-action
        
        ">
      KATA 練習
    </a>
  
  </div>
  <div class="mt-3 text-end p-2 bg-light rounded">
    <small class="text-black-50 fw-light mb-0">文件版本：2022/11/1</small>
  </div>
</div>

</aside>
    
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="/es6/shorthand.html">JS 必備觀念</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/intro/createApp.html">認識 Vue.js</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/template/v-text.html">模板</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/optionsApi/options-methods.html">方法</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/components/component_register.html">元件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/advApi/adv-refs.html">進階</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/router/vue-router.html">路由</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/composition/proxy.html">Composition API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/pinia/layout.html">Pinia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer py-2 bg-light">
  <div class="container text-center">
    <small class="text-black-50 fw-light mb-0">六角學院 Vue 課程專屬文件</small>
  </div>
</footer>
<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>
